In [1]:
#10/05/2019 this was imported in from webscrapping 10.3.9
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import pandas as pd

In [2]:
import scrape_nasa

In [3]:
app = Flask(__name__)

In [4]:
@app.route("/")
@app.route("/")
def index():
    listings = mongo.db.listings.find_one()
    return render_template("index.html", listings=listings)

In [5]:
from splinter import Browser
from bs4 import BeautifulSoup


def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "C:\chrome_driver\chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

In [6]:
    browser = init_browser()
    nasa = {}

    url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
    browser.visit(url)

    html = browser.html
    soup = BeautifulSoup(html, "html.parser")

    nasa["news_title "] = soup.find(class_="content_title").get_text()
    nasa["article body"] = soup.find(class_= "article_teaser_body").get_text()
    
    #print(listings["news_title "])
    #listings["price"] = soup.find("span", class_="result-price").get_text()
    #listings["hood"] = soup.find("span", class_="result-hood").get_text()
    #listings["picture"] = soup.find("div", class_ = "swipe-wrap").div.img('src')
    #print(soup.find("div", class_ = "swipe-wrap").div.img['src'])

    browser.quit()
    # this closes the browser.

    #eturn listings

In [7]:
print(nasa["news_title "])
print(nasa["article body"])

Mars 2020 Unwrapped and Ready for More Testing
In time-lapse video, bunny-suited engineers remove the inner layer of protective foil on NASA's Mars 2020 rover after it was relocated for testing.

In [8]:
#let's try to table but instead use or other method. 
import urllib.request
import requests
url = urllib.request.urlopen("https://space-facts.com/mars/").read()
soup = BeautifulSoup(url,'lxml')
table = soup.find('table')
table_rows = table.find_all('tr')

['6,779 km',
 '6.39 × 10^23 kg',
 '2',
 '227,943,824 km',
 '687 Earth days',
 '-153 to 20 °C']

In [9]:
#this was shamlestly pulled from a stack overflow example 
#https://stackoverflow.com/questions/8139797/how-do-i-extract-table-data-in-pairs-using-beautifulsoup
table = soup.find("table", id = "tablepress-p-mars")
rows = table.findAll('tr')

column1 = []
column2 = []

for tr in rows:
    td = tr.find_all('td')
    n =0
    row = []
    for i in td:
        a = i.text
        if n==0:
            column1.append((a))
            n = n+1
        elif n ==1: 
            column2.append((a))
            n = n+1    
column2            
mars_data_df = pd.DataFrame(column1,column2)

In [10]:
mars_data_df.to_html('filename.html')
mars_data_df

                                                   0
6,792 km                        Equatorial Diameter:
6,752 km                             Polar Diameter:
6.39 × 10^23 kg (0.11 Earths)                  Mass:
2 (Phobos & Deimos)                           Moons:
227,943,824 km (1.38 AU)             Orbit Distance:
687 days (1.9 years)                   Orbit Period:
-87 to -5 °C                   Surface Temperature:
2nd millennium BC                      First Record:
Egyptian astronomers                    Recorded By:

In [11]:
htmldata = mars_data_df.to_html(justify  = "left")
htmldata2 = htmldata.replace('\n', '')
htmldata2
# need to render html data

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: left;">      <th></th>      <th>0</th>    </tr>  </thead>  <tbody>    <tr>      <th>6,792 km</th>      <td>Equatorial Diameter:</td>    </tr>    <tr>      <th>6,752 km</th>      <td>Polar Diameter:</td>    </tr>    <tr>      <th>6.39 × 10^23 kg (0.11 Earths)</th>      <td>Mass:</td>    </tr>    <tr>      <th>2 (Phobos &amp; Deimos)</th>      <td>Moons:</td>    </tr>    <tr>      <th>227,943,824 km (1.38 AU)</th>      <td>Orbit Distance:</td>    </tr>    <tr>      <th>687 days (1.9 years)</th>      <td>Orbit Period:</td>    </tr>    <tr>      <th>-87 to -5 °C</th>      <td>Surface Temperature:</td>    </tr>    <tr>      <th>2nd millennium BC</th>      <td>First Record:</td>    </tr>    <tr>      <th>Egyptian astronomers</th>      <td>Recorded By:</td>    </tr>  </tbody></table>'

In [12]:

# this is for mars facts
url = "https://space-facts.com/mars/"

table = pd.read_html(url)
# this looks realy ugly.

In [13]:
type(table)

list

In [14]:
mars_facts = table[0]
mars_facts.columns = ['object', 'value', 'planet_we_dont_care_abaout']
mars_facts = mars_facts.drop(columns = ['planet_we_dont_care_abaout'])
mars_facts

               object            value
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

In [22]:
#currently not working. 
browser = init_browser()
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
browser.click_link_by_partial_text("FULL IMAGE")

browser.is_element_present_by_text('more info', wait_time=1)
browser.click_link_by_partial_text("more info")


html = browser.html
soup = BeautifulSoup(html, "html.parser")


picture = soup.find("img",class_="main_image").get('src')

In [16]:
print("https://www.jpl.nasa.gov" +picture)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18087_hires.jpg

In [17]:
# mars twitter 
browser = init_browser()
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

twiiter = soup.find(class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").get_text()
browser.quit()

In [18]:
twiiter

'InSight sol 316 (2019-10-16) low -101.8ºC (-151.3ºF) high -25.7ºC (-14.3ºF)\nwinds from the SSE at 4.7 m/s (10.5 mph) gusting to 18.2 m/s (40.8 mph)\npressure at 7.10 hPapic.twitter.com/tXtGZA6IPW'

In [19]:
# # mars twitter 
# browser = init_browser()
# url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
# browser.visit(url)

# browser.click_link_by_href('https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced')

# html = browser.html
# soup = BeautifulSoup(html, "html.parser")



# image1 = soup.find(class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").get_text()

In [45]:
#mars hemisphere. 
#currently not working. 
browser = init_browser()
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
browser.click_link_by_partial_text("Cerberus Hemisphere Enhanced")

# browser.is_element_present_by_text('Sample', wait_time=2)
# browser.click_link_by_partial_text("Sample")
#hopefully closees the other tab
#not working becouse plinter is opening a new tab

html = browser.html

soup = BeautifulSoup(html, "html.parser")


#print(soup.find(class_ = "gradient_container_top").git_text())

#image_data = browser.driver.find_element_by_tag_name("img").get_attribute("src")
#picture = soup.find("img",class_="main_image").get('src')
#picture = soup.find("img",class_="thumb").get('src')
picture = soup.find("img",class_="wide-image").get('src')
#images = soup.find('img')
#picture = soup.find("img",class_="thumb").get('src')
#browser.quit()

In [47]:
print("https://astrogeology.usgs.gov" +picture)

https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

In [150]:
#     browser = init_browser()
#     mars = {}

#     url = "https://space-facts.com/mars/"
#     browser.visit(url)

#     html = browser.html
#     soup = BeautifulSoup(html, "html.parser")

#     mars["diameter"] = soup.find(class_="carousel_item").get_text()
#     #mars["article body"] = soup.find(class_= "article_teaser_body").get_text()
    
#     #print(listings["news_title "])
#     #listings["price"] = soup.find("span", class_="result-price").get_text()
#     #listings["hood"] = soup.find("span", class_="result-hood").get_text()
#     #listings["picture"] = soup.find("div", class_ = "swipe-wrap").div.img('src')
#     #print(soup.find("div", class_ = "swipe-wrap").div.img['src'])

#     browser.quit()

AttributeError: 'NoneType' object has no attribute 'get_text'

In [87]:
mars["diameter"]

'Mars'

In [62]:
@app.route("/scrape")
def scraper():
    listings = mongo.db.listings
    listings_data = scrape_nasa.scrape()

    listings.update({}, listings_data, upsert=True)
    #update if it doesen't exsist insert if it does not
    return redirect("/", code=302)
    #redirect takes us back to home, "code 302" lest the broser know it was an iniated redirect

In [56]:
listings

[]

In [7]:
if __name__ == "__main__":
    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with stat

SystemExit: 1

C:\Users\adam9\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3304: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)